* {
    background-color: #000;
}


/* dimensionamento de caixa */

*,
*::before,
*::after .selector-for-some-widget {
    box-sizing: border-box;
}

body {
    font-family: 'Sanchez', sans-serif;
}

.navbar li {
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1em;
    padding-left: 1em;
    background-color: #000;
}

.navbar a {
    color: #BF0436;
    width: 1em 1em;
    background-color: #000;
    text-align: center;
    display: block;
    padding: 1em;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

.navbar a:hover {
    color: #F8D8DD;
    font-size: 1.00em;
    cursor: pointer;
    text-decoration: none;
}

#icone:hover {
    width: 4em;
    height: 4em;
    cursor: pointer;
}

#icone:onclick {
    width: 1em;
    height: 1em;
}

.carousel {
    max-width: 80%;
    height: auto;
    margin: 0 auto;
    padding: 1em;
    position: relative;
    transition: transform 2s ease, opacity .5s ease-out
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white !important;
}