@font-face {
    font-family: 'icones';
    src: url(../font/icones.ttf);
}

:root {
    --preto: #000000;
    --rosa: #ff66c4;
    --azul: #5ce1c6;
    --cinza: #949192;
}

body {
    background-color: #1D232A;
    font-family: 'Open Sans', 'icones', sans-serif;
    color: #FFFFFF;
}

@media screen and (min-width: 1000px) {
    body {
        display: grid;
        grid-template-columns: auto 1fr;
    }
}