.menu-lateral {
    display: flex;
    flex-direction: column;
    background-color: var(--preto);
    width: 75vw;
    height: 100vh;

    position: absolute;
    left: -100vw;
    transition: .25s;
}

@media screen and (min-width: 1000px) {
    .menu-lateral {
        position: static;
        width: 200px;
        grid-column: 1;
        grid-row: 1 / span 2;
    }
}