* {
  background-color: #000;
  font-family: 'Sanchez', sans-serif;
}

h2 {
  color: #40e0d0 !important;
  background-color: #000;
  text-align: center;
}

h4 {
  color: #bf0436 !important;
  background-color: #000;
  text-align: center;
}

h5 {
  color: white !important;
  text-transform: uppercase;
}

p {
  color: white;
  font-size: 1rem;
  text-align: center;
  margin-top: 30px !important;
}

.img {
  width: 50% !important;
}

.img1 {
  width: 30% !important;
}

.list {
  color: white;
  font-size: 1.4rem;
  text-align: center;
  list-style-type: none;
}
#playlist h2{
  font-weight: bold;
  text-shadow: 2px 2px #bf0436;
  text-transform: uppercase;
  margin-bottom: 1;
}
.cardPlaylist{
  text-align: center;
  justify-content: space-between;
}
.cardPlaylist img{
  width: 100px;
  height: 140px;
}
.cardPlaylist h5{
  font-size: 1.1rem;
}
.playlistContainer{
  width: 100vw;
  display: flex;
  justify-content: center;
  gap: 2rem;
}
#playlist:last-child{
  max-width: 720px;
}

#dicionario h2{
  font-weight: bold;
  text-shadow: 2px 2px #bf0436;
  text-transform: uppercase;
  margin-bottom: 1;
}
.cardDicionario{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.cardDicionario img{
  width: 90px;
  height: 130px;
}
.cardDicionario h5{
  font-size: 1.1rem;
}
.dicionarioContainer{
  display: flex;
  gap: 4rem;
  text-align: center;
  justify-content: center;
}
.groupContainer{
  text-align: center;
  display: flex;
  gap: 2rem;
  justify-content: center;
}
.cardGroup{
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.cardGroup img{
  width: 100px;
  height: 140px;
}
#livros{
  text-align: center;
}
#dicas{
  text-align: center;
}
#livros h2{
  font-weight: bold;
  text-shadow: 2px 2px #bf0436;
  text-transform: uppercase;
  margin-bottom: 1;
}
#dicas h2{
  font-weight: bold;
  text-shadow: 2px 2px #bf0436;
  text-transform: uppercase;
  margin-bottom: 1;
}
#mtrabalho h2{
  font-weight: bold;
  text-shadow: 2px 2px #bf0436;
  text-transform: uppercase;
  margin-bottom: 1;
}
.cardTrabalho img{
  width: 140px;
  height: 140px;
}
.cardTrabalho{
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
#grupos h2{
  font-weight: bold;
  text-shadow: 2px 2px #bf0436;
  text-transform: uppercase;
  margin-bottom: 1;
}
.trabalhoContainer{
  text-align: center;
  display: flex;
  gap: 2rem;
  justify-content: center;
}

@media(max-width:620px){
  .dicionarioContainer, .groupContainer, .playlistContainer, .trabalhoContainer{
    flex-wrap: wrap;
  }
  h2{
    font-size: 1rem;
  }
}
#dicas ul{
  padding: 0;
}