.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 450px;
  height: 500px;
  padding: 4.5rem 2rem;
  text-align: center;
  border-radius: 60px;
  margin: 0 2rem;
  background: rgb(146, 19, 146);
}
.card-img {
  object-fit: contain;
}
.card a {
  margin-bottom: 2rem;
  padding: 15px;
}
.cardContainer {
  max-width: 1110px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3.5rem;
}
.title {
  margin-bottom: 2rem;
  color: turquoise;
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
  text-shadow: 2px 2px #bf0436;
  text-transform: uppercase;
}
.text-justify {
  text-align: justify;
  line-height: 2rem;
}

.nextPageBtn {
  border: none;
  width: 50px;
  height: 50px;
  background-color: #000;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}
.container {
  margin-top: 3rem;
}
.d-flex {
  align-items: center;
  gap: 2rem;
}
.d-flex p {
  font-size: large;
  text-align: justify;
}

/* RESPONSIVIDADE */
@media (max-width: 1199px) {
  .container .d-flex {
    flex-wrap: wrap;
    justify-content: center;
  }
  .pl-4 {
    padding-left: 0;
  }
}
@media (max-width: 640px) {
  .banner {
    display: none;
  }
  .text {
    width: 400px;
  }
  .d-flex p {
    font-size: medium;
  }
  .card {
    width: 300px;
    height: 450px;
    margin: 0;
  }
  .card a {
    padding: 5px;
  }
}
@media (max-width: 460px) {
  .text {
    width: 350px;
  }
  .d-flex p {
    font-size: small;
  }
}
