.cartao__botao--destaque {
    width: 100%;
    grid-column: span 2;
}

.cartao__botao--destaque::before {
    margin-right: 8px;
}

@media screen and (min-width: 1000px) {
    .cartao__botao--destaque {
        grid-column: auto;
        padding: 16px 8px;
    }
}